#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

/*Changes from maria
- height of all boxes to 500px 
- divided sections into 3.. or 2
*/
/*Styling for each page*/
#page1 {
    height: 1000px;
    padding-top: 50px;
    border: none;
    /* border: 1px solid black;*/
    background: linear-gradient(to bottom, white 0%, #e7f5fe 100%);
    box-shadow: inset 50px 0px 50px -40px white, inset -50px 0px 50px -40px white;
}
/*Color sequence
#e7f5fe
#ccffee
#ffffe6
#FAEBD7
#ffffff*/
#page2 {
    height: 1000px;
    padding-top: 50px;
    /*border: 1px solid black;*/
    background: linear-gradient(to bottom, #e7f5fe 0%, #ccffee 100%);
    box-shadow: inset 50px 0px 50px -40px white, inset -50px 0px 50px -40px white;
}
#page3 {
    height: 1000px;
    padding-top: 50px;
    /*border: 1px solid black;*/
    background: linear-gradient(to bottom, #ccffee 0%, #ffffe6 100%);
    box-shadow: inset 50px 0px 50px -40px white, inset -50px 0px 50px -40px white;
}
#page4 {
    height: 1000px;
    padding-top: 50px;
    /*border: 1px solid black;*/
    background: linear-gradient(to bottom, #ffffe6 0%, #FAEBD7 100%);
    box-shadow: inset 50px 0px 50px -40px white, inset -50px 0px 50px -40px white;
}

#page5 {
  height: 1000px;
  padding-top:50px;
  /*border: 1px solid black;*/
  background: linear-gradient(to bottom, #FAEBD7 0%, #ffffff 100%);
  box-shadow: inset 50px 0px 50px -40px white, inset -50px 0px 50px -40px white;
}


#h1 {
    text-align: center;
}

.video{
    padding-top: 300px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
//Styling for menu bar/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    z-index: 2; /*to make menu bar appear in front of divs /
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #666;
}

/* Change the link color to #111 (black) on hover /
.menu li a:hover {
  background-color: #111;
}

/*Styling for chat box*/


html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;  
  /*background-color: black; */
    background-image: url("vandy.gif");
    background-repeat: repeat;
    background-color: #cccccc;
    background-size: 500px;
    overflow-x: hidden;
}
             /* Kevin  */
#menu {
  text-align: center;
  
  width: 100%;
  background: lightcoral;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 9990;
  float: left;
  padding: 10px 0;

}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#menu ul li {
  display: inline;
  padding: 0 30px 0 0;
}
#menu ul li a {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
  vertical-align: center !important;
}

/*
html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}


body {
  padding-top: 40px;
  background-color: lightgray;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
*/